@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@-webkit-keyframes flipTopCard {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
}
@keyframes flipTopCard {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
}

@-webkit-keyframes flipBottomCard {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes flipBottomCard {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
p {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.flipTopCard {
  -webkit-animation: flipTopCard 0.2s;
          animation: flipTopCard 0.2s;
}

.flipBottomCard {
  -webkit-animation: flipBottomCard 0.2s 0.2s;
          animation: flipBottomCard 0.2s 0.2s;
}

body {
  height: 100vh;
  padding-top: 8rem;
  position: relative;
  background-color: #1e1f29;
}

body::before {
  position: absolute;
  content: "";
  inset: 0;
  background-repeat: no-repeat;
  background-image: url("../images/pattern-hills.svg");
  background-position: bottom, center;
  background-size: 100vw 35vh;
  z-index: 5;
}

body::after {
  position: absolute;
  content: "";
  inset: 0;
  background-repeat: no-repeat;
  background-image: url("../images/bg-stars.svg");
  background-position: center;
  background-size: auto;
  z-index: 1;
}

.bgHelper {
  width: 320px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 4rem;
}

header h1 {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 6px;
}

p {
  font-size: 0.5rem;
  color: #8486a9;
  letter-spacing: 2px;
}

.socialMedia {
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5rem;
  z-index: 10;
}

.timerBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (70px)[4];
      grid-template-columns: repeat(4, 70px);
  -ms-grid-rows: 1fr, 1fr;
      grid-template-rows: 1fr, 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.card {
  width: 70px;
  height: 70px;
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1e1f29;
  z-index: 50;
  right: -5px;
}

.card::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1e1f29;
  z-index: 50;
  left: -5px;
}

.card .top {
  width: 100%;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .top h1 {
  font-size: 2.5rem;
  color: #fb6087;
}

.card .top h1 {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.card .top .topBackCard {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #343650;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.card .top .topFlipCard {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #343650;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  z-index: 10;
}

.card .bottom {
  width: 100%;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card .bottom h1 {
  font-size: 2.5rem;
  color: #fb6087;
}

.card .bottom h1 {
  -webkit-transform: translateY(-27px);
          transform: translateY(-27px);
}

.card .bottom .bottomBackCard {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #3e4160;
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 5;
}

.card .bottom .bottomFlipCard {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #3e4160;
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  z-index: 10;
}
/*# sourceMappingURL=main.css.map */